* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 72px;
    background-color: rgb(13, 13, 13);
    display: table;
    position: fixed; /*스크롤 영향X 메뉴 고정*/
}
.flex{
    display: flex;
}
.auto{
    flex-direction: row;
}
#menu-wrap {
    width:1200px;
    margin:0 auto;
    margin-top: 20px;
}
.menu {
    float:left;
    text-align:center;
}
.menu li {
    display:inline-block;
    text-align:center;
    color: rgb(165, 165, 165);
    float:left;
    list-style: none;
}
.menu_left{
    margin-left: 60px;
}
.menu_right{
    margin-left: 40px;
}
#menu_right{
    margin-left: 200px;
}
.menu li:hover{
    cursor: pointer;
    color: white;
}
.menu li i{
    color: white;
}
#logo{
    width: 130px;
}



#main{
    width: 100%;
    height: 100%;
    display: block; /*img 밑 여백 없애기*/
}
.main_a{
    background-color: rgb(13, 13, 13);
    padding-left: 270px;
    padding-top: 200px;
}
.big_text{
    color: rgb(234, 234, 234);
    font-size: 45px;
    font-weight: 100;
}
.small_text{
    color: rgb(205, 205, 205);
    font-size: 15px;
}
#c{
    margin: auto;
}
#f{
    color: white;
}
#check-btn{
    display: none;
}
#check-btn:checked ~ .menubars {
    display: block;
}
.menubars{
    display: none;
}
.menubars li{
    color: white;
}
#all{
    margin-right: 250px;
    display: inline-block; 
}
.all{
    width: 300px;
}
.li{
    padding: 5px;
    list-style-type: none;
    background-color: aqua;
}
.main_b{
    background-color: rgb(13, 13, 13);
}
.main_c{
    background-color: rgb(40, 40, 40);
}
.car{
    width: 295px;
    padding: 45px 45px 35px 45px;
    color: rgb(183, 183, 183);
    background-color: rgb(34, 34, 34);
}
.car_img{
    width: 300px;
    height: 85px;
    margin-bottom: 20px;
}
.car_button{
    width: 300px;
    height: 50px;
    border: solid white 1px;
    background-color: rgb(23, 23, 23);
    color: white;
    transition: all 0.3s ease-out;
}
.car_button:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px);
}
#car{
    margin-left: 80px;
}
.G90{
    font-size: 30px;
    font-family: "맑은 고딕", serif;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: white;
}
.ruswjrsorl{
}
#ruswjrsorl{
    width: 100px;
    background-color: aqua;
}
.chatbot{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid black 1px;

    position: fixed;
}
#chatbot{
    margin: 15px;
}
.dkssyd{
    display: flex;
}
.qksrk{
    margin: auto;
    color: white;
}   