* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: row;
    display: table;
}
#logo { 
    margin: 25px;
    margin-left: 125px;
    width: 132px;
    height: 25px;
}
ul li{
    color: rgb(165, 165, 165);
    float:left;
    list-style: none;
}
ul li:hover{
    cursor: pointer;
    color: white;
}
ul li i{
    color: white;
}
#a li{
    padding: 25px;
}
#a{
    margin-right: 900px;
}
#b li{
    padding: 20px;
}
#b{
    margin-left: -400px;
}


#d{
    color: rgb(234, 234, 234);
    font-size: 45px;
    font-weight: 100;
}
#e{
    color: rgb(205, 205, 205);
    font-size: 15px;
}
#f{
    color: white;
}
.flex{
    display: flex;
}
.auto{
    flex-direction: row;
}
#main{
    width: 100%;
    height: 880px;
    display: block; /*img 밑 여백 없애기*/
}
#all{
    margin-right: 250px;
}
.all{
    width: 300px;
}
.main_a{
    padding-left: 270px;
    background-color: rgb(13, 13, 13);
    padding-top: 200px;
}
.car{
    width: 295px;
    padding: 45px 45px 35px 45px;
    color: rgb(183, 183, 183);
    background-color: rgb(34, 34, 34);
}
.car_img{
    width: 300px;
    height: 85px;
    margin-bottom: 20px;
}
.car_button{
    width: 300px;
    height: 50px;
    border: solid white 1px;
    background-color: rgb(23, 23, 23);
    color: white;
    transition: all 0.3s ease-out;
}
.car_button:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px);
}
#car{
    margin-left: 80px;
}
.G90{
    font-size: 30px;
    font-family: "맑은 고딕", serif;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: white;
}
.li{
    padding: 5px;
    list-style-type: none;
}
#check-btn{
    display: none;
}
#check-btn:checked ~ .menubars {
    display: block;
}
.menubars{
    display: none;
}
.menubars li{
    color: white;
}